src
tests
docs

node_modules

.github
.husky
.yarn

renovate.json
.commitlintrc.json
.editorconfig
.eslintignore
.eslintrc.json
.lintstagedrc.json
.prettierignore
.yarnrc.yml
vitest.config.ts

*.md
!README.MD